{% extends "@VICTORTest/layout.html.twig" %}
{% block title %} {{ parent() }} | Liste des utilisateurs {% endblock %}
{% block body %}
    <h1>{{title|upper}}</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered">
                <thead>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Motivation</th>
                    <th>Palme</th>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{path('victor_test_user_show', {id: user.id})}}">{{user.lastName}}</a></td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.mail}}</td>
                            <td>{{user.motivation}}</td>
                            <td>{{user.palme}}</td>                       
                        </tr>                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
